@page
@model FoodApiClient.Pages.FoodRecommend2Model
@{
    ViewData["Title"] = "Food Recommendation";
}

<h1>@ViewData["Title"]</h1>
<br>

<div class="row">
    <div class="col-md-4">
        <h3>Nutrients</h3>
        <hr />
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nutrients.Carbs" class="control-label"></label>
                <input asp-for="Nutrients.Carbs" class="form-control" />
                <span asp-validation-for="Nutrients.Carbs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nutrients.Energy" class="control-label"></label>
                <input asp-for="Nutrients.Energy" class="form-control" />
                <span asp-validation-for="Nutrients.Energy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nutrients.Proteins" class="control-label"></label>
                <input asp-for="Nutrients.Proteins" class="form-control" />
                <span asp-validation-for="Nutrients.Proteins" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nutrients.Fats" class="control-label"></label>
                <input asp-for="Nutrients.Fats" class="form-control" />
                <span asp-validation-for="Nutrients.Fats" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nutrients.Diet" class="control-label"></label>
                <input asp-for="Nutrients.Diet" class="form-control" />
                <span asp-validation-for="Nutrients.Diet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>
    </div>

    <table class="table" style="@(Model.ShowFoodList ? "display:block" : "display:none")">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FoodList[0].Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FoodList[0].Group)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FoodList[0].Carbs)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FoodList[0].Energy)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FoodList[0].Proteins)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FoodList[0].Fats)
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model.FoodList != null)
            {
                @foreach (var item in Model.FoodList)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Group)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Carbs)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Energy)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Proteins)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Fats)
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

<div>
    <a asp-page="./Index">Home</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
