@page
@model FoodApiClient.Pages.FoodRecommendModel
@{
    ViewData["Title"] = "Food Recommendation";
}

<h1>@ViewData["Title"]</h1>
<br>

<div class="row">
    <div class="col-md-4">
        <h3>User Profile</h3>
        <hr />
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserProfile.Age" class="control-label"></label>
                <input asp-for="UserProfile.Age" class="form-control" />
                <span asp-validation-for="UserProfile.Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserProfile.Height" class="control-label"></label>
                <input asp-for="UserProfile.Height" class="form-control" />
                <span asp-validation-for="UserProfile.Height" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserProfile.Weight" class="control-label"></label>
                <input asp-for="UserProfile.Weight" class="form-control" />
                <span asp-validation-for="UserProfile.Weight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserProfile.Gender" class="control-label"></label>
                <input asp-for="UserProfile.Gender" class="form-control" />
                <span asp-validation-for="UserProfile.Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserProfile.Activity" class="control-label"></label>
                <input asp-for="UserProfile.Activity" class="form-control" />
                <span asp-validation-for="UserProfile.Activity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserProfile.Diet" class="control-label"></label>
                <input asp-for="UserProfile.Diet" class="form-control" />
                <span asp-validation-for="UserProfile.Diet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>
    </div>

    <div class="col-md-1">
    </div>

    <div class="col-md-4" style="@(Model.ShowNutrients ? "display:block" : "display:none")">
        <h3>Nutrients</h3>
        <hr />
        <dl class="row">
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.Nutrients.Carbs)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.Nutrients.Carbs)
            </dd>
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.Nutrients.Energy)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.Nutrients.Energy)
            </dd>
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.Nutrients.Proteins)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.Nutrients.Proteins)
            </dd>
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.Nutrients.Fats)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.Nutrients.Fats)
            </dd>
            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.Nutrients.Diet)
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.Nutrients.Diet)
            </dd>
        </dl>
    </div>

    <table class="table" style="@(Model.ShowFoodList ? "display:block" : "display:none")">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FoodList[0].Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FoodList[0].Group)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FoodList[0].Carbs)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FoodList[0].Energy)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FoodList[0].Proteins)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FoodList[0].Fats)
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model.FoodList != null)
            {
                @foreach (var item in Model.FoodList)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Group)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Carbs)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Energy)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Proteins)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Fats)
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

<div>
    <a asp-page="./Index">Home</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
